<% include templates/header.ejs %>
	<body>
	<% include templates/navbar.ejs %> 
	<div class = "jumbotron">
			<div class = "container">
			<h1 class = "display-4"> <%= title %></h1>
			<p class = "lead">A Dungeon and Dragon's tool kit.</h5>
			</div>
	</div>
	<div class = "root">
		<div class = "container">
			<div class="row">
				<div class = "col-md-6">
					<h2>GM ToolKit</h2>
					<p>This toolkit provides a ton of generators, homebrew content, rule interpretations, and much more!</p>
					<p><a class="btn btn-primary" href="/dnd/gm" role="button">View details »</a></p>
				</div>
				<div class = "col-md-6">
					<h2>PC ToolKit</h2>
					<p>This toolkit provides quick cheat sheets, a set of dice generators, and much more!</p>
					<p><a class="btn btn-primary" href="/dnd/pc" role="button">View details »</a></p>
				</div>
			</div>
		</div>
	</div>
<% include templates/footer.ejs %>