<% include templates/header.ejs %>
	<body>
	
	<% include templates/navbar.ejs %>
	<% include templates/gmNavbar.ejs %> 
		<div class = "jumbotron">
			<div class = "container">
				<h1 class = "display-4"> <%= title %></h1>
				<p class = "lead">A Dungeon and Dragon's tool kit.</h5>
		</div>
	</div>
	<div class = "root">
		<div class = "container">
			<div class = "row">
				<div class = "col-md-3 col-sm-3">
					<h1> Generators </h1>
				
				</div>
				<div class = "col-md-3 col-sm-3"> 
					<h1> Encounters </h1>
				</div>
				<div class = "col-md-3 col-sm-3">
					<h1> Adventures </h1>
				'</div>
				<div class = "col-md-3 col-sm-3"> 
					<h1> Resources </h1>
				</div>
			</div>
		</div>
	</div>
<% include templates/footer.ejs %>