<% include templates/header.ejs %>
<body>
<% include templates/navbar.ejs %> 
<% include templates/gmNavbar.ejs %> 
	<div class = "jumbotron">
		<div class = "container">
			<h1> <%= title %></h1>
			<h5>A nice tid bit of one off adventures</h5>
		</div>
	</div>
<% include templates/footer.ejs %>