<% include templates/header.ejs %>
	<body>
	<% include templates/navbar.ejs %> 
	<% include templates/gmNavbar.ejs %> 
		<div class = "jumbotron">
			<div class = "container">
				<h1 class = "display-4"> <%= title %></h1>
				<p class = "lead">A Dungeon and Dragon's tool kit.</h5>
		</div>
	</div>
<% include templates/footer.ejs %>