<% include templates/header.ejs %>
	<body>
	
	<% include templates/navbar.ejs %>
	<% include templates/gmNavbar.ejs %> 
		<div class = "jumbotron">
			<div class = "container">
				<h1 class = "display-4"> <%= title %></h1>
				<p class = "lead">A Dungeon and Dragon's tool kit.</h5>
		</div>
	</div>
	<div class = "root">
		<div class = "container">
			<div class = "row">
				<div class = "col-md-3 col-sm-3" style = "text-align: center;">
					<h1> Generators </h1><hr>
					<p> Generators for Dungeons and Dragons, this includes everything from drop tables to moster tables.(IN DEVELOPMENT)</p>
					<p><a class="btn btn-primary" href="/dnd/gm/generators" role="button">View details »</a></p>
				</div>
				<div class = "col-md-3 col-sm-3" style = "text-align: center;"> 
					<h1> Encounters </h1><hr>
					<p> Encounters for Dungeons and Dragons, this includes everything from gang fights to armys battling.(IN DEVELOPMENT)</p>
					<p><a class="btn btn-primary" href="/dnd/gm/encounters" role="button">View details »</a></p>
				</div>
				<div class = "col-md-3 col-sm-3" style = "text-align: center;">
					<h1> Adventures </h1><hr>
					<p> Adventures for Dungeons and Dragons, this includes everything from short stories to long epic narratives.</p>
					<p><a class="btn btn-primary" href="/dnd/gm/adventures" role="button">View details »</a></p>
				'</div>
				<div class = "col-md-3 col-sm-3" style = "text-align: center;"> 
					<h1> Resources </h1><hr>
					<p> Resources for Dungeons and Dragons, this includes everything from monster stats to general Game master's tips.(IN DEVELOPMENT)</p>
					<p><a class="btn btn-primary" href="/dnd/gm/resources" role="button">View details »</a></p>
				</div>	
			</div>
		</div>
	</div>
<% include templates/footer.ejs %>