<% include templates/header.ejs %>
<body>
<% include templates/navbar.ejs %> 
<% include templates/gmNavbar.ejs %> 
	<div class = "jumbotron">
		<div class = "container">
			<h1 class = "display-4"> <%= title %></h1>
			<h5>A nice tid bit of one off adventures</h5>
		</div>
	</div>
	<div class = "root">
		<div class = "container">
			<h1 class = "display-5"> Currently still in development </h1>
		</div>
	</div>
<% include templates/footer.ejs %>