<% include templates/header.ejs %>
	<body>
	<% include templates/navbar.ejs %> 
	<div class = "jumbotron">
		<div class = "container">
			<h1 class = "display-4"> <%= title %></h1>
			<h5 class = "lead">A Playable Character's tool kit.</h5>
		</div>
	</div>
	<div class = "root">
		<div class = "container">
			<h1 class = 'display-5'> Currently Still in development</h1>
		</div>
	</div>
<% include templates/footer.ejs %>