<% include templates/header.ejs %>
	<body>
	<% include templates/navbar.ejs %> 
		<div class = "jumbotron">
			<div class = "container">
				<h1 class = "display-4"> <%= title %></h1>
				<p class = "lead"> A full time student looking to only get better.</p>
			</div>
		</div>
		<div class = "root">
		<div class = "container">
			<div class = "row">
				<div class = "col-md-6">
				<div class="circle-avatar" style="background-image:url('/pictures/Cam.png')"></div>
				<img align = "middle" class="img-circle" src = "">
				</div>
				<div class = "col-md-1"></div>
				<div class = "col-md-5">
				<h3 class = "text-center display-5"> Languages </h2>
				<hr>
				<div class ="row">
					<div class = "col-md-3">
						<img align = "middle"  class ="img-fluid" src="/pictures/javaIcon.svg">
					</div>
					<div class = "col-md-3">
						<img align = "middle" class ="img-fluid" src="/pictures/JSIcon.svg">
					</div>
					<div class = "col-md-3">
						<img align = "middle" class ="img-fluid" src="/pictures/CppIcon.svg">
					</div>
					<div class = "col-md-3">
						<img align = "middle"  class ="img-fluid " src="/pictures/SQLIcon.svg">
					</div>
				</div>
				<br>
				<br>
				<h3 class = "text-center display-5"> Technologies</h2>
				<hr>

				<div class ="row">
					<div class = "col-md-3">
						<img align = "middle"  class ="img-fluid" src="/pictures/NodeJSIcon.png">
					</div>
					<div class = "col-md-3">
						<img align = "middle" class ="img-fluid" src="/pictures/BootStrapIcon.png">
					</div>
					<div class = "col-md-3">
						<img align = "middle" class ="img-fluid" src="/pictures/CppIcon.svg">
					</div>
					<div class = "col-md-3">
						<img align = "middle"  class ="img-fluid " src="/pictures/SQLIcon.svg">
					</div>
				</div>
					
				</div>
			</div>
		</div>
		</div>
<% include templates/footer.ejs %>