<br>
  
</br>
  <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class ="foot-fill">
    <div class ="container">
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-7 mt-md-0 mt-4">

          <!-- Content -->
          <h5 class="text-uppercase">Useful information</h5>
          <p>This website is purely demonstrational. It hosted through the NodeJS environment and uses the default bootstrap jumbotron theme. Created by Cameron Anderson</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-1 mb-md-0 mb-1"></div>
          
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/resume">Resume</a>
              </li>
              <li>
                <a href="/tts">TTS</a>
              </li>
              <li>
                <a href="/dnd">DND</a>
              </li>
            </ul>

          </div>

          <!-- Grid column -->

        </div>
      <!-- Grid row -->
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href="https://Canderson.me"> Canderson.me</a>
      </div>
    </div>
    <!-- Footer Links -->

    </div>
    </div>
    <!-- Copyright -->

  </footer>
  <script src = ".../bower_components/jquery/dist/jquery.js"></script>
	<script src = ".../bower_components/bootstrap/dist/js/bootstrap.js"></script>
 
	</body>

</html>